doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(data-main="javascripts/test-client", src="http://ajax.cdnjs.com/ajax/libs/require.js/0.24.0/require.min.js")
  body
    block content